<footer>
    <p>&copy; 2025 codeSarv. All rights reserved.</p>

    <nav class="footer-nav footer-nav1">
        <h4>Support Links</h4>
        <ul>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/terms-of-service">Terms of Service</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</footer>