<header>
    <div class="logo-box">
        <a href="/" class="logo">
            <img src="/images/codesarv_logo.webp" alt="Company Logo" loading="lazy">
        </a>
    </div>

    <div class="tagline">
        <p>Grow yourself with codeSarv</p>
    </div>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/blogs">Blogs</a></li>
        </ul>
    </nav>
</header>