<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - codeSarv</title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
</head>

<body>
    <%- include('partials/header.ejs') %>

        <main>
            <section class="hero">
                <h1>About codeSarv</h1>

                <div class="video-box">
                    <video src="/videos/codeSarv-about-hero.mp4" muted autoplay loop></video>
                </div>
            </section>

            <section class="content-box">

                <h2>Who are we?</h2>
                <p>We at codeSarv, help beginners to upgrade their coding skills in various fields and become an advance
                    coder.</p>
                <p>If you have a dream to become a person who can build softwares, codeSarv is right place to be.</p>

                <h2>What is the price?</h2>
                <p><strong>It's totally FREE!</strong></p>
                <p>We are providing complete courses from beginner to advance level, including all the new technologies,
                    completely free of cost.
                    For money, we just run a few ads which is enough to support us to running
                    this website forever.</p>

                <h2>How to get Started?</h2>
                <h3>Enroll in our courses</h3>
                <p>Enroll in any of our courses.</p>
                <ul>
                    <li>Select a <a href="/">course</a>, in which your are interesed in.</li>
                    <li>Click "Enroll now".</li>
                    <li>And, enjoy.</li>
                </ul>

                <h3>Read Blogs</h3>
                <p>You can also read our <strong>blogs and book-summeries</strong>.</p>
                <ul>
                    <li>Select a <a href="/">blog</a>, you want to read.</li>
                    <li>Click "Read more".</li>
                    <li>Enjoy reading.</li>
                </ul>
            </section>
        </main>

        <%- include('partials/footer.ejs') %>
</body>

</html>